# Text Preprocessing

In [3]:
import pandas as pd
import itertools
from data_describe.text.text_preprocessing import *
from data_describe.utilities.load_data import load_data

C:\tools\Miniconda3\envs\test-env\lib\site-packages\google\protobuf\descriptor.py:47: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  from google.protobuf.pyext import _message
C:\tools\Miniconda3\envs\test-env\lib\site-packages\gensim\corpora\dictionary.py:11: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  from collections import Mapping, defaultdict
C:\tools\Miniconda3\envs\test-env\lib\site-packages\scipy\sparse\sparsetools.py:21: DeprecationWarning: `scipy.sparse.sparsetools` is deprecated!
scipy.sparse.sparsetools is a private module for scipy.sparse, and should not be used.
  _deprecated()
C:\tools\Miniconda3\envs\test-env\lib\site-packages\gensim\models\doc2vec.py:73: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  from collections import namedtuple, defaultdict, Iterable
DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
UserWarning: The Dask Engine for Modin is experimental.
WARNING:root:The extension "@jupyter-widgets/jupyterlab-manager" was not found and is required for Plotly-based visualizations.

## Load Data

In [2]:
from sklearn.datasets import fetch_20newsgroups
categories = ['alt.atheism']
newsgroups = fetch_20newsgroups(subset='train', categories=categories)['data']

In [3]:
newsgroups[0][:100]

'From: darice@yoyo.cc.monash.edu.au (Fred Rice)\nSubject: Re: Islam & Dress Code for women\nOrganizatio'

## Tokenize

In [7]:
newsgroups_tokens = tokenize(newsgroups)

In [8]:
to_list(newsgroups_tokens)[0][:10]

['From',
 ':',
 'darice',
 '@',
 'yoyo.cc.monash.edu.au',
 '(',
 'Fred',
 'Rice',
 ')',
 'Subject']

## Change to all lowercase

In [9]:
newsgroups_tokens = tokenize(newsgroups)
newsgroups_lower = to_lower(newsgroups_tokens)
to_list(newsgroups_lower)[0][:10]

['from',
 ':',
 'darice',
 '@',
 'yoyo.cc.monash.edu.au',
 '(',
 'fred',
 'rice',
 ')',
 'subject']

## Run a preprocessing pipeline in one line

In [21]:
to_list(preprocess_texts(newsgroups, custom_pipeline=['tokenize', 'to_lower']))[0][:10]

['from',
 ':',
 'darice',
 '@',
 'yoyo.cc.monash.edu.au',
 '(',
 'fred',
 'rice',
 ')',
 'subject']

## Remove punctuation

In [22]:
to_list(preprocess_texts(newsgroups, custom_pipeline=['tokenize', 'remove_punct']))[0][:10]

['From',
 'darice',
 'yoyo.cc.monash.edu.au',
 'Fred',
 'Rice',
 'Subject',
 'Re',
 'Islam',
 'Dress',
 'Code']

## Remove digits

In [25]:
digits_test_list = [['this', 'is', '3', 'a', 'test', '2c', 'if', 'it', 'works']]
to_list(preprocess_texts(digits_test_list, custom_pipeline=['remove_digits']))[0]

['this', 'is', '', 'a', 'test', '', 'if', 'it', 'works']

## Remove single characters and spaces

In [7]:
from typing import Iterable
def remove_single_char_and_spaces(
    text_docs_bow: Iterable[Iterable[str]],
) -> Iterable[Iterable[str]]:
    """Removes all words that contain only one character and blank spaces from documents.

    Args:
        text_docs_bow: A list of lists of words from a document

    Returns:
        A generator expression for all of the processed documents
    """
    # new_docs = []
    # for doc in text_docs_bow:
    #     new_doc = []
    #     for word in doc:
    #         new_word = word.strip()
    #         if " " in new_word:
    #             new_words = new_word.split()
    #             for item in new_words:
    #                 new_doc.append(item)
    #         elif len(new_word) > 1:
    #             new_doc.append(new_word)
    #     new_docs.append(new_doc)
    # return (doc for doc in new_docs)
    return  ((word for word in doc if len(word)!=1 and word.strip()!="") for doc in text_docs_bow)

In [8]:
single_char_spaces_test_list = [['this', 'is', '   ', 'a', 'test', '   ', 'b']]
to_list(remove_single_char_and_spaces(single_char_spaces_test_list))

[['this', 'is', 'test']]

In [27]:
single_char_spaces_test_list = [['this', 'is', '   ', 'a', 'test', '   ', 'b']]
to_list(preprocess_texts(digits_test_list, custom_pipeline=['remove_single_char_and_spaces']))[0]

['this', 'is', 'test', '2c', 'if', 'it', 'works']

## Remove stopwords

In [28]:
to_list(preprocess_texts(newsgroups, custom_pipeline=['tokenize', 'remove_punct', 'remove_stopwords']))[0][:10]

['From',
 'darice',
 'yoyo.cc.monash.edu.au',
 'Fred',
 'Rice',
 'Subject',
 'Re',
 'Islam',
 'Dress',
 'Code']

## Stem words

In [29]:
to_list(preprocess_texts(newsgroups, custom_pipeline=['tokenize', 'remove_punct', 'remove_stopwords', 'stem']))[0][:10]

['from',
 'dar',
 'yoyo.cc.monash.edu.au',
 'fred',
 'ric',
 'subject',
 're',
 'islam',
 'dress',
 'cod']

## Lemmatize words

In [30]:
to_list(preprocess_texts(newsgroups, custom_pipeline=['tokenize', 'remove_punct', 'remove_stopwords', 'lemmatize']))[0][:10]

['From',
 'darice',
 'yoyo.cc.monash.edu.au',
 'Fred',
 'Rice',
 'Subject',
 'Re',
 'Islam',
 'Dress',
 'Code']

## Convert back to a single string

In [31]:
to_list(preprocess_texts(newsgroups, custom_pipeline=[
    'tokenize', 
    'remove_punct', 
    'remove_stopwords', 
    'lemmatize',
    'remove_digits',
    'bag_of_words_to_docs'
]))[0][:1000]

"From darice yoyo.cc.monash.edu.au Fred Rice Subject Re Islam Dress Code woman Organization Monash University Melb Australia Lines  In . .rz.tu-bs.de  .rz.tu-bs.de Benedikt Rosenau writes In article .. .cc.monash.edu.au darice yoyo.cc.monash.edu.au Fred Rice writes Deletion Of course people say think religion exactly coming different people within religion There nothing existing different perspective within religion perhaps one say tend converge truth My point lot harm way meantime And converge counterfactual religion appear split diverge Even might True Religion core layer determine happens practise quite inhumane usually What post supposed answer I n't see got I say I repeat Religions harm people And religion converge split Giving disagree upon And lot disagreement one tolerant one tolerant Ideologies also split giving disagree upon may also lead intolerance So also oppose ideology I n't think argument argument religion point weakness human nature Big deletion  Do woman soul Islam Peo"

## Create a document-word frequency matrix

In [5]:
newsgroups_docs = preprocess_texts(newsgroups, custom_pipeline=[
    'tokenize', 
    'remove_punct', 
    'remove_stopwords', 
    'lemmatize',
    'remove_digits',
    'bag_of_words_to_docs'
])
create_doc_term_matrix(newsgroups_docs).iloc[:5, 10:]

,_o,aa,aaa,aah,aap,aario,aaron,abandoned,abberation,abc,...,zlumber,zombie,zoo,zues,zumder,zur,zurlo,zus,zvonko,zyklon
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Create a TF-IDF matrix

In [38]:
newsgroups_docs = preprocess_texts(newsgroups, custom_pipeline=[
    'tokenize', 
    'remove_punct', 
    'remove_stopwords', 
    'lemmatize',
    'remove_digits',
    'bag_of_words_to_docs'
])
create_tfidf_matrix(newsgroups_docs).iloc[:5, :]

,_o,aa,aaa,aah,aap,aario,aaron,abandoned,abberation,abc,...,zlumber,zombie,zoo,zues,zumder,zur,zurlo,zus,zvonko,zyklon
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Ngrams Frequency

In [6]:
newsgroups_ngrams = preprocess_texts(newsgroups, custom_pipeline=[
    'tokenize', 
    'remove_punct',
    'remove_digits',
    'remove_stopwords',
    'ngram_freq'
])
newsgroups_ngrams

FreqDist({('Lines', ''): 492, ('Subject', 'Re'): 455, ('In', 'article'): 372, ('I', "n't"): 227, ('', 'In'): 204, ('I', 'think'): 169, ('article', ''): 151, ('article', '..'): 128, ('', ''): 126, ('writes', 'In'): 101, ...})